<mat-dialog-content>
  <h1>Добавить продукт</h1>
  <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-row">
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Название</mat-label>
          <input matInput type="text" name="title" maxlength="50" [(ngModel)]="title">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Цена</mat-label>
          <input matInput type="text" name="price" maxlength="50" [(ngModel)]="price">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Описание</mat-label>
          <input matInput type="text" name="description" maxlength="150" [(ngModel)]="description">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col text-center">
        <button mat-button color="primary" type="btn-warning" class="btn-warning">Добавить</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
