<mat-dialog-content>
  <h1>Добавить сотрудника</h1>
  <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-row">
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput type="text" name="name" maxlength="50" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput type="text" name="firstName" maxlength="50" [(ngModel)]="firstName">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input matInput type="text" name="telephone" maxlength="15" [(ngModel)]="telephone">
        </mat-form-field>
      </div>

      <div class="col border-right-bottom border-bottom-bottom">

        <mat-form-field class="patient-info-group">
          <mat-label>Кафе</mat-label>
          <mat-select name="cafeSelect" [(ngModel)]="cafeId">
            <mat-option *ngFor="let cafe of cafes"
                        value="{{cafe.idCafe}}">{{cafe.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col text-center">
        <button mat-button color="primary" type="btn-warning" class="btn-warning">Добавить</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
