<mat-dialog-content>
  <h1>Добавить заказ</h1>
  <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-row">
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Номер столика</mat-label>
          <input matInput type="number" name="title" maxlength="50" [(ngModel)]="numberTable">
        </mat-form-field>
      </div>
      <div class="col border-right-bottom border-bottom-bottom">

        <mat-form-field class="patient-info-group">
          <mat-label>Имя работника</mat-label>
          <mat-select name="employeeSelect" [(ngModel)]="employeeId">
            <mat-option *ngFor="let employee of employees"
                        value="{{employee.idEmployee}}">{{employee.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col border-right-bottom border-bottom-bottom">
        <mat-form-field class="patient-info-group">
          <mat-label>Продукт</mat-label>
          <mat-select name="productSelect" [(ngModel)]="productId">
            <mat-option *ngFor="let product of products"
                        value="{{product.idProduct}}">{{product.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col border-right-bottom border-bottom-bottom">

        <mat-form-field class="patient-info-group">
          <mat-label>Пользователь</mat-label>
          <mat-select name="userSelect" [(ngModel)]="userId">
            <mat-option *ngFor="let user of users"
                        value="{{user.idUser}}">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col text-center">
        <button mat-button color="primary" type="btn-warning" class="btn-warning">Добавить</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
