<mat-dialog-content>
  <h1>Редактировать кафе</h1>
  <form ngNativeValidate (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-row">
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Название</mat-label>
          <input matInput type="text" name="title" maxlength="50" [(ngModel)]="title">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Адрес</mat-label>
          <input matInput type="text" name="address" maxlength="50" [(ngModel)]="address">
        </mat-form-field>
      </div>
      <div class="col text-center">

        <mat-form-field>
          <mat-label>Телефон</mat-label>
          <input matInput type="text" name="telephone" maxlength="15" [(ngModel)]="telephone">
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col text-center">
        <button mat-button color="primary" type="submit" class="btn-warning">Сохранить</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
